// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.home {
	text-align: center;
}

main {
	width:50%;
	margin: 0 auto;
}

.navbar {
	margin-bottom: 20px;
}

header {
	color: white;
}